{% extends "layout.html" %}

{% block title %}
    Faculty List
{% endblock %}

{% block css %}
{% endblock %}

{% block main %}
    {% include "message.html" %}]
    <div class="container ms-5 mt-4 mb-3">

        <div class=" row g-3">
            <!-- ye left wale section ka code hai  -->
            <div class="col-12 col-md-7">
                <ul class="nav nav-tabs" role="tablist">
                    {% for form_id, form_name in form_dict.items() %}
                        {% if loop.first %}
                        <li><button class="nav-link active" id="{{ form_id }}" onclick="openTab(event, '{{ form_id }}')">{{ form_name }}</button></li>
                        {% else %}
                        <li><button class="nav-link" id="{{ form_id }}" onclick="openTab(event, '{{ form_id }}')">{{ form_name }}</button></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                
                <div class="tab-content tab-hidden table-responsive pt-2" id="{{ table_id }}">
                    <table class = "table table-hover table-striped mt-3" id="{{ table_id }}">
                        <thead class = "table-dark">
                            
                                <tr>
                                    <th>Column</th>
                                </tr>
                            
                        </thead>
                        <tbody>
                            
                             <tr>
                                <td>Row</td>
                             </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script id="my-table-ids" type="application/json">
        {{ form_dict.keys()|list|tojson|safe }}
    </script>

    <script>
        const ids = JSON.parse(document.getElementById('my-table-ids').textContent);
        for (let i = 0; i < ids.length; ++i) {
            new DataTable(`#${ids[i]}`, {
                paging: false,
                scrollY: '260px',
                scrollX: true
            });
        }

        function openTab(evt, containerId) {
            console.log("Inside");
            fetch('/forms_report', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                },
                body: JSON.stringify({
                    'form_id': containerId
                })
            })
            .then(response=>response.json())
            .then(data => {
                if(data.success) {
                    window.location.href = '/forms_report';
                } else {
                    alert("Wrong table name: " + data.error);
                }
            })
            .catch(error => console.error('Error during fetching data: ', error));

            document.querySelectorAll(".tab-content").forEach(tab => {
                tab.style.display = ""; // clear inline style
                tab.classList.remove("active");
                tab.classList.add("tab-hidden");
            });

            document.querySelectorAll(".nav-link").forEach(btn => {
                btn.classList.remove("active");
            });

            const activeContainer = document.getElementById(`fn_${containerId}`);
            activeContainer.classList.remove("tab-hidden");
            activeContainer.classList.add("active");
            evt.currentTarget.classList.add("active");

            const downloadButton = document.querySelector('[id^="download-button"]');
            downloadButton.disabled = true;
            downloadButton.id = 'download-button-'+containerId;
        }
    </script>
{% endblock %}