{% extends "layout.html" %}

{% block title %}
    Student Details
{% endblock %}

{% block main %}
{% include "message.html" %}

<div class="container w-50 form-container">

    <div class="card">

        <!-- Form heading -->
        <div class="card-header text-center">
            <h4>Student Details</h4>
        </div>

        <div class="card-body">
            <!-- Form body-->
            <form action="/student_details" method="post">
                <!--<div class="mb-3">
                    <label for="studentEmail" class="form-label">Student Email</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>-->

                <!-- Enter University Roll No. -->
                <div class="mb-3">
                    <label for="universityRollNo" class="form-label">University Roll No.</label>
                    <input class="form-control" type="text" id="universityRollNo" 
                    name="university_roll_no" value="{{ details.university_roll_no | default('')}}">
                </div>

                <!-- Enter Student Name -->
                <div class="mb-3">
                    <label for="stdName" class="form-label">Name of the Student</label>
                    <input class="form-control" type="text" id="stdName"
                     name="student_name" value="{{ details.student_name | default('')}}">
                </div>

                <!-- Select Branch -->
                <div class="mb-3">
                    <label for="branch" class="form-label d-block">Branch</label>
                    <div class="d-flex justify-content-evenly">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="branch_option" id="branch_cse"
                            value="CSE" {% if details.branch == "CSE" %}checked{% endif %}>
                            <label class="form-check-label" for="branch_cse">
                                CSE
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="branch_option" id="branch_cse_ai" 
                            value="CSE(AI)"" {% if details.branch == 'CSE(AI)' %}checked{% endif %}>
                            <label class="form-check-label" for="branch_cse_ai">
                                CSE (AI)
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="branch_option" id="branch_cse_ds"
                            value="CSE(DS)" {% if details.branch == 'CSE(DS)' %}checked{% endif %}>
                            <label class="form-check-label" for="branch_cse_ds">
                                CSE (DS)
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="branch_option" id="branch_cse_iot" 
                            value="CSE(IOT)" {% if details.branch == 'CSE(IOT)' %}checked{% endif %}>
                            <label class="form-check-label" for="branch_cse_iot">
                                CSE (IOT)
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Select Semester -->
                <div class="mb-3">
                    <label for="semester" class="form-label d-block">
                        Semester
                    </label>
                    <div class="d-flex justify-content-evenly">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="semester_option" id="semester_3" 
                            value="3" {% if details.semester == 3 %}checked{% endif %}>
                            <label class="form-check-label" for="semester_3">
                                3
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="semester_option" id="semester_4" 
                            value="4" {% if details.semester == 4 %}checked{% endif %}>
                            <label class="form-check-label" for="semester_4">
                                4
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="semester_option" id="semester_5" 
                            value="5" {% if details.semester == 5 %}checked{% endif %}>
                            <label class="form-check-label" for="semester_5">
                                5
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="semester_option" id="semester_6" 
                            value="6" {% if details.semester == 6 %}checked{% endif %}>
                            <label class="form-check-label" for="semester_6">
                                6
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="semester_option" id="semester_7" 
                            value="7" {% if details.semester == 7 %}checked{% endif %}>
                            <label class="form-check-label" for="semester_7">
                                7
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="semester_option" id="semester_8" 
                            value="8" {% if details.semester == 8 %}checked{% endif %}>
                            <label class="form-check-label" for="semester_8">
                                8
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Select Section -->
                <div class="mb-3">
                    <label for="section" class="form-label d-block">Section</label>
                    <div class="d-flex justify-content-evenly">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="section_option" id="section_a" 
                            value="A" {% if details.section == 'A' %}checked{% endif %}>
                            <label class="form-check-label" for="section_a">
                                A
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="section_option" id="section_b" 
                            value="B" {% if details.section == 'B' %}checked{% endif %}>
                            <label class="form-check-label" for="section_b">
                                B
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="section_option" id="section_c" 
                            value="C" {% if details.section == 'C' %}checked{% endif %}>
                            <label class="form-check-label" for="section_c">
                                C
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="section_option" id="section_d" 
                            value="D" {% if details.section == 'D' %}checked{% endif %}>
                            <label class="form-check-label" for="section_d">
                                D
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="section_option" id="section_e" 
                            value="E" {% if details.section == 'E' %}checked{% endif %}>
                            <label class="form-check-label" for="section_e">
                                E
                            </label>
                        </div>
                    </div>
                </div> 

                <!-- Select Group Number -->
                <div class="mb-3">
                    <label for="groupNo" class="form-label d-block">Group</label>
                    <div class="d-flex justify-content-evenly">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="group_option" id="group_g1" 
                            value="G1" {% if details.class_group == 'G1' %}checked{% endif %}>
                            <label class="form-check-label" for="group_g1">
                                G1
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="group_option" id="group_g2" 
                            value="G2" {% if details.class_group == 'G2' %}checked{% endif %}>
                            <label class="form-check-label" for="group_g2">
                                G2
                            </label>
                        </div>
                    </div>
                </div>   
                
                <!-- Input Batch Counselor -->
                <div class="mb-3">
                    <label for="batchCounselor" class="form-label">Name of the Batch Counselor</label>
                    <input type="text" class="form-control" id="batchCounselor" 
                    name="batch_counselor" value="{{ details.batch_counselor | default('') }}">
                </div>
                
                <!-- Submit Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-25" value="Submit">Submit</button>
                </div>
            </form>
        </div>   
    </div>
</div>
{% endblock %}